<!-- cntnd_map/template/default.html -->
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.min.css" rel="stylesheet">

<div id="cntnd_map"></div>

<script>
    $(document).ready(function() {
        var map = new L.Map('cntnd_map', {
            crs: L.CRS.EPSG3857,
            continuousWorld: true,
            worldCopyJump: false,
            zoomControl: false
        });
        map.attributionControl.addAttribution("Maps by <a href='https://www.swisstopo.admin.ch/de/home.html'>swisstopo</a>");

        {literal}
        var url = 'https://wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/{z}/{x}/{y}.jpeg';
        {/literal}

        map.addLayer(new L.tileLayer(url));
        map.setView([{$lat}, {$long}], {$zoom});
        // dragging disable
        map.dragging.disable();
    });
</script>
<!-- cntnd_map/template/default.html -->
